<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

  </head>
  <body>

    <input class="itemCategoryName" list="itemCategoryNameList" id="itemCategoryNameId" name="itemCategoryName" />
    <input class="itemName" list="itemNameList" id="itemNameId" name="itemName" />
    <input class="itemColor" list="itemColorList" id="itemColorId" name="itemColor" />
    <input class="itemSize" list="itemSizeList" id="itemSizeId" name="itemSize" />
    <input class="itemMaterial" list="itemMaterialList" id="itemMaterialId" name="itemMaterial" />
    

    <datalist id="itemCategoryNameList"></datalist>
    <datalist id="itemNameList"> </datalist>
    <datalist id="itemColorList"> </datalist>
    <datalist id="itemSizeList"></datalist>
    <datalist id="itemMaterialList"></datalist>
   
    
    <script src="/javascripts/script.js"></script>
  </body>
</html>
